%% This line tells emacs to use -*- erlang -*- mode for this file
%%{erl_opts, [debug_info]}.
%%{erl_opts, [warnings_as_errors]}.
{deps_dir, ["deps"]}.
{lib_dir, ["deps"]}.
{deps, [{mockgyver, ".*", {git, "https://github.com/klajo/mockgyver.git", ""}}%%,
	%%{proper, ".*", {git, "git://github.com/manopapad/proper.git", ""}}
       ]}.
{eunit_opts, [{dir, "."}%%, verbose
]}.
{asn1_opts,[{record_name_prefix,"RRC-"},
            {macro_name_prefix,"RRC-"},
            uper,compact_bit_string]}.

